@model CatalogoFilmElencoFilmViewModel
@{
    ViewData["Title"] = "Catalogo film";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="p-4 bg-light border rounded shadow-lg" style="max-width: 900px; width: 100%;">
        <h1 class="text-dark text-center">Catalogo</h1>
        <form method="post" asp-action="UpdateFilm">
        <table class="table border border-primary table-striped">
            <thead class="bg-primary text-white">
            <tr>
                
                <th>Titolo</th>
                <th>Trama</th>
                <th>Genere</th>
                <th>Anno</th>
                <th>Regista</th>
                <th>Valutazione</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.ElencoFilm.ListaFilm.Any())
            {
                @foreach (var film in Model.ElencoFilm.ListaFilm.OrderBy(s => s.Title))
                {
                    <tr>
                       
                        <td class="text-dark">@film.Title</td>
                        <td class="text-dark">@film.Plot</td>
                        <td class="text-dark">@film.Genre</td>
                        <td class="text-dark">@film.Year</td>
                        <td class="text-dark">@film.Director</td>
                        <td class="text-dark">
                                            <input type="hidden" name="id" value="@film.Id" />
                                        <input type="hidden" name="title" value="@film.Title" />
                                        <input type="hidden" name="year" value="@film.Year" />
                                        <input type="hidden" name="plot" value="@film.Plot" />
                                        <input type="hidden" name="genre" value="@film.Genre" />
                                        <input type="hidden" name="director" value="@film.Director" />
                                        <input type="number" name="myRate" value="@film.MyRate" class="form-control" step="0.1" min="0" max="10" />
                        </td>
                                
                    </tr>
                    
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center text-dark">Non ci sono film disponibili</td>
                </tr>
            }

            </tbody><td colspan="8" class="text-end text-dark">
            <button type="submit" class="btn btn-warning btn-sm"> Salva
                </td>
                </button>
        </table></form>
    </div>
</div>
