@model CatalogoFilmElencoFilmViewModel
@{
    ViewData["Title"] = "Catalogo film";
}

<form method="post" asp-action="GestisciFilm">
    <input type="hidden" id="actionType" name="actionType" value="update" />

    <table class="table border border-primary table-striped">
        <thead class="bg-primary text-white">
            <tr>
                <th>Seleziona</th>
                <th>ID</th>
                <th>Titolo</th>
                <th>Trama</th>
                <th>Genere</th>
                <th>Anno</th>
                <th>Regista</th>
                <th>Valutazione</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ElencoFilm.ListaFilm.Any())
            {
                @for (int i = 0; i < Model.ElencoFilm.ListaFilm.Count; i++)
                {
                    var film = Model.ElencoFilm.ListaFilm[i];

                    <tr>
                        <td>
                            <input type="checkbox" name="selectedFilms" value="@film.Id" />
                        </td>
                        <td class="text-dark">@film.Id</td>
                        <td class="text-dark">@film.Title</td>
                        <td class="text-dark">@film.Plot</td>
                        <td class="text-dark">@film.Genre</td>
                        <td class="text-dark">@film.Year</td>
                        <td class="text-dark">@film.Director</td>
                        <td class="text-dark">
                            <input type="hidden" name="films[@i].Id" value="@film.Id" />
                            <input type="hidden" name="films[@i].Title" value="@film.Title" />
                            <input type="hidden" name="films[@i].Year" value="@film.Year" />
                            <input type="hidden" name="films[@i].Plot" value="@film.Plot" />
                            <input type="hidden" name="films[@i].Genre" value="@film.Genre" />
                            <input type="hidden" name="films[@i].Director" value="@film.Director" />
                            <input type="number" name="films[@i].MyRate" value="@film.MyRate" class="form-control" step="0.1"
                                   min="0" max="10" />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center text-dark">Non ci sono film disponibili</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Bottoni di azione -->
    <div class="text-end">
        <button type="submit" class="btn btn-warning btn-sm" onclick="document.getElementById('actionType').value='update'">
            Salva
        </button>
        <button type="submit" class="btn btn-danger btn-sm" onclick="document.getElementById('actionType').value='delete'">
            Elimina Selezionati
        </button>
    </div>
</form>
